<footer class="blog-footer">

    <div class="wrapper">

        <h3 class="footer-heading">{{ site.title | escape }}</h3>

        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    <li>
                        <a href="{{ "/about" | prepend: full_base_url }}">Sanggyeong Jo</a>
                    </li>
                    <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                    <li>{% include icon-github.html username=site.github_username %}</li>
                    <li><a href="https://byeolbit.com">byeolbit.com</a></li>
                </ul>
            </div>

            <div class="footer-col footer-col-2">
                <ul class="site-map">
                    <li><a href="{{ "/about" | prepend: full_base_url }}">about</a></li>
                    <li><a href="{{ "/category" | prepend: full_base_url }}">category</a></li>
                    <li><a href="{{ "/tag" | prepend: full_base_url }}">category</a></li>
                    <li><a href="https://byeolbit.com">byeolbit.com</a></li>
                </ul>
            </div>

            <div class="copyright">
                <p>&copy; Sanggyeong Jo. All rights reserved. Powered by GitHub Pages</p>
            </div>
        </div>

    </div>

</footer>